doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Socketme
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/index.css')
button#sign-out Sign out
section#container
  header 
    h1 Hola Carola! This is the chat page!
  h2 User #{user.username} has connected
  main
    //
      <p class="msg others-msg">Hola Carola!</p>
      <p class="msg own-msg">Como andas?</p>
  form#msg-form
    textarea#message(name='message' cols='30' rows='10' placeholder='Your message here...' autocomplete='off' autofocus='' required='')
    input#submit-msg(type='submit' value='Send')
script(src='/socket.io/socket.io.js')
script.
  let user = '!{JSON.stringify(user)}'
script(src='/static/index.js')