doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Socketme
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/index.css')
section#home-container
  h1 Hola Carola...
  h2
    | Hmmm... This is just a boring home page. Maybe you meant to go to the chat endpoint?
  form#redirect-form(action='/chat' method='GET')
    input#redirect-submit(type='submit' value='Yes!')
  h2
    | Wait! Have you already logged in?
  form#redirect-form(action='/login' method='GET')
    input#redirect-submit(type='submit' value='Nope')
